:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #D9DFEB, #889AC0);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 50vh;
  margin-left: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-decoration: Line-through;
}

h2{
  font-size: 2.2em;
  line-height: 1.1;  
  color: #ffffff;
  text-shadow: 1px 1px #666666;
}

/* #3{
  text-decoration: Line-through;
} */

#inputArticulo{
  border-radius: 4px;
  border: 2px solid;
  border-color: #CCCCCC;
  padding: 0.6em 1.2em; 
  margin-left: 5px; 
  width: 200px;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

#buttonGreen {color: #FFFFFF; background-color: #32cd32; height: 30px; margin-left: 5px; margin-right: 5px;}
#pReclamo{color: #be0606; font-size: large; font-weight: bold;}
#buttonRed {color: #FFFFFF; background-color: #be0606; height: 25px; margin-left: 5px; margin-right: 10px; background-image: -moz-linear-gradient("delete.PNG");}
#_id{width: 120px; background-color: #CCCCCC;}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#_tableTitulo{
  background-color: #333333;
  /* background: linear-gradient(to right, #889AC0, #D9DFEB); */
  margin-left: 2px;
  border-radius: 4px;
  /* border-style: ridge; */
}

#_tableRows{
  margin-left: 15px;
}

#divTexto{
  width: 240px;
  border-style: none; 
}

#divButton{
  width: 100px;
  border-style: none;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
